.box {
    background: #FFF;
    box-shadow: 0 10px 18px rgba(206, 206, 210, 0.575);
    padding: 36px;
    border-radius: 3px;
}

.sullycartContainer {
    height: 80vh;
    overflow-y: auto;
}

.sullycartActions {
    height: 20vh;
}

.sullycartWrapper {
    z-index: 9999;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @extend .box;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 268px;
    padding: 16px;
    background: #FAFAFA;
    transition: all .5s ease;
}

.sullycartWrapper.visible {
    transform: translateX(-300px);
}

.sullycartItem {
    background: #FFF;
    margin-bottom: 18px;
    border-radius: 4px;
    padding: 8px;
}

.sullycartItemName {
    font-weight: 600;
    letter-spacing: .035em;
    margin-bottom: 8px;
}

.sullycartCheckoutBtn {
    background: #5555ff;
    color: #FFF;
    padding: 8px 0;
    width: 100%;
    font-weight: 600;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    margin-top: 16px;
    cursor: pointer;
}

.sullycartCloseCart {
    display: block;
    text-align: center;
    margin-top: 16px;
    text-decoration: underline;
    cursor: pointer;
    font-size: 14px;
}

.qtyManage {
    display: flex;
    align-items: center;
    margin-top: 8px;
}

.sullycartQtyAdd {
    border: 1px solid;
    padding: 4px 12px;
    user-select: none;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    border-left: none;
    cursor: pointer;
    color: #FFF;
    font-size: 12px;
}

.sullycartQtyRemove {
    border: 1px solid;
    padding: 4px 12px;
    user-select: none;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    border-right: none;
    cursor: pointer;
    color: #FFF;
    font-size: 12px;
}

.sullycartQtyCount {
    border: 1px solid;
    padding: 4px 12px;
    font-size: 12px;
}
