<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Widget Template</title>

  <style>
    body {
      background: #F9F8F7;
    }
  </style>

</head>

<body>
  <div>
    <h4>Duffer Mug</h4>

    <button
      data-cart-add="sku_FMERwGkceHkMVu"
      data-cart-price="25"
      data-cart-name="Duffer Mug">
      + Add to cart
    </button>

    <button data-cart-remove="sku_FMERwGkceHkMVu">- Remove from cart</button>
  </div>
  <div>
    <h4>Duffins Bakers Mug</h4>
    <button
      data-cart-add="sku_FMESRRgSAnIgJi"
      data-cart-price="25"
      data-cart-name="Duffins Bakers Mug">
      + Add to cart
    </button>
    <button data-cart-remove="sku_FMESRRgSAnIgJi">- Remove from cart</button>
  </div>

  <hr />

  <div data-cart-host="sullycart">
    <script type="text/props">
    {
      "stripeKey": "pk_live_KsJECrnmyMe4vf6s7SlUZYQO",
      "successUrl": "https://preact-widget.netlify.com/success",
      "cancelUrl": "https://preact-widget.netlify.com/cancel",
      "buttonColor": "#ff7675"
    }
    </script>
  </div>

  <button data-cart-show>Show cart</button>

  <script src="https://js.stripe.com/v3/"></script>
  <script async src="/bundle.js"></script>
</body>

</html>